src/conf/xml-resources/web-service-references/TextbookSOAP/wsdl/localhost_8080/WSD_Asg/TextbookSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.project/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.project/" name="TextbookSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.project/" schemaLocation="http://localhost:8080/WSD_Asg/TextbookSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="fetchBookID">
<part name="parameters" element="tns:fetchBookID"/>
</message>
<message name="fetchBookIDResponse">
<part name="parameters" element="tns:fetchBookIDResponse"/>
</message>
<message name="fetchBook">
<part name="parameters" element="tns:fetchBook"/>
</message>
<message name="fetchBookResponse">
<part name="parameters" element="tns:fetchBookResponse"/>
</message>
<message name="fetchBookT">
<part name="parameters" element="tns:fetchBookT"/>
</message>
<message name="fetchBookTResponse">
<part name="parameters" element="tns:fetchBookTResponse"/>
</message>
<portType name="TextbookSOAP">
<operation name="addBook">
<input wsam:Action="http://soap.wsd.project/TextbookSOAP/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://soap.wsd.project/TextbookSOAP/addBookResponse" message="tns:addBookResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.project/TextbookSOAP/addBook/Fault/Exception"/>
</operation>
<operation name="fetchBookID">
<input wsam:Action="http://soap.wsd.project/TextbookSOAP/fetchBookIDRequest" message="tns:fetchBookID"/>
<output wsam:Action="http://soap.wsd.project/TextbookSOAP/fetchBookIDResponse" message="tns:fetchBookIDResponse"/>
</operation>
<operation name="fetchBook">
<input wsam:Action="http://soap.wsd.project/TextbookSOAP/fetchBookRequest" message="tns:fetchBook"/>
<output wsam:Action="http://soap.wsd.project/TextbookSOAP/fetchBookResponse" message="tns:fetchBookResponse"/>
</operation>
<operation name="fetchBookT">
<input wsam:Action="http://soap.wsd.project/TextbookSOAP/fetchBookTRequest" message="tns:fetchBookT"/>
<output wsam:Action="http://soap.wsd.project/TextbookSOAP/fetchBookTResponse" message="tns:fetchBookTResponse"/>
</operation>
</portType>
<binding name="TextbookSOAPPortBinding" type="tns:TextbookSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchBookID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchBookT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TextbookSOAP">
<port name="TextbookSOAPPort" binding="tns:TextbookSOAPPortBinding">
<soap:address location="http://localhost:8080/WSD_Asg/TextbookSOAP"/>
</port>
</service>
</definitions>