web/WEB-INF/wsdl/localhost_8080/WSD-2018/TextbookSOAP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.wsd.project/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.wsd.project/">

<xs:element name="fetchBook" type="tns:fetchBook"/>

<xs:element name="fetchBookID" type="tns:fetchBookID"/>

<xs:element name="fetchBookIDResponse" type="tns:fetchBookIDResponse"/>

<xs:element name="fetchBookResponse" type="tns:fetchBookResponse"/>

<xs:element name="fetchBookT" type="tns:fetchBookT"/>

<xs:element name="fetchBookTResponse" type="tns:fetchBookTResponse"/>

<xs:element name="textbook" type="tns:textbook"/>

<xs:complexType name="fetchBookT">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchBookTResponse">
<xs:sequence>
<xs:element name="return" type="tns:textbook" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="textbook">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="ISBN" type="xs:string" minOccurs="0"/>
<xs:element name="publisher" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="abstracts" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="reservation" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="bookID" type="xs:int" use="required"/>
</xs:complexType>

<xs:complexType name="fetchBook">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchBookResponse">
<xs:sequence>
<xs:element name="return" type="tns:textbook" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchBookID">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchBookIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:textbook" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>